.App {
  font-family: sans-serif;
  text-align: center;
}
nav {
  background-color: #1976d2;
  height: 30px;
  padding: 20px;
  display: flex;
  gap: 10px;
  align-items: center;
  max-width: 100%;

  a {
    color: #cd1111;
    color: white;
    text-decoration: none;
  }
}

.container {
  color: black;
  img {
    height: 150px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    object-fit: cover;
  }
  span {
    font-weight: bold;
    font-style: italic;
  }
  p {
    font-size: 20px;
  }
}
.user-list-container {
  display: grid;
  gap: 42px;
}

.movie-container {
  width: 340px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.movie-poster {
  height: 640px;
  width: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.movie-specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0px;
}

.movie-name {
  font-size: 24px;
  margin: 0;
}

.movie-rating {
  font-size: 20px;
  margin: 0;
}

.movie-summary {
  margin-top: 10px;
  font-size: 16px;
  line-height: 1.5;
  padding: 10px;
}

.movie-content-container {
  padding: 16px;
}

.movie-list-container {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;

  /* RAM
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  justify-items: center;
  gap: 32px; */
}

.movie-btom-icon {
  display: flex;
  justify-content: space-between;
}
.edit-delete-icon {
  display: flex;
  gap: 20px;
  padding: 10px;
}
.like-btn {
  display: flex;
  gap: 30px;
  padding: 10px;
  color: #1976d2;
}

.delete-icon {
  color: red;
}
.edit-icon {
  color: blue;
}
.dislike-btn {
  padding-top: 10px;
  color: crimson;
}
.info-icon {
  background-color: white;
  color: darkmagenta;
}
.info {
  display: flex;
  gap: 20px;
}

.counter-btn-container {
  display: flex;
  gap: 10px;

  button {
    font-size: 1rem;
  }
}

nav {
  ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding: 0;
  }
}

:root {
  /* 1rem = 16px */
  font-size: 16px;
}

/* 1rem = 16px */
.add-movie-form,
.edit-movie-form {
  display: grid;
  gap: 0.5rem;
  max-width: 30rem;
  margin: 1.25rem auto;
  border-radius: 10px;
  input {
    height: 30px;
  }
  button {
    height: 30px;
  }
}

.movie-detail-content-container {
  max-width: 60rem;
}
